body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.9;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.bottomcontainer {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 2;
  text-align: center;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.login-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

#loginForm {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#loginForm:hover {
  background-color: #0056b3;
}

.login-bg {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;
}

@keyframes slideIn {
  0% {
      transform: translateY(-50px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}


 .heading {
  animation: slideIn 0.5s ease forwards;
  color: whitesmoke;
  font-family: 'Arial', sans-serif;
  line-height: 1.2em;
  font-size: 500%;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: 700 ;
  z-index: 1;
  overflow: hidden;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black,
  1px 2px 1px black,
  1px 3px 1px black,
  1px 4px 1px black,
  1px 5px 1px black,
  1px 6px 1px black,
  1px 7px 1px black,
  1px 8px 1px black,
  1px 9px 1px black,
  1px 10px 1px black;
 
} 

.heading span{
  color: red;
}


.card {
  background-color: rgba(204, 204, 204, 0.8);
  margin: 5px;
  display: inline-block;
  text-align: center;
  font-size: small;
  cursor: pointer;
  opacity: 0.5;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media screen and (max-width: 600px) {
  .card {
      width: 80px;
      height: 80px;
      font-size: 18px;
      line-height: 80px;
  }

  .login-container {
      padding: 20px;
  }

  .heading {
      font-size: 120%;
  }

  #loginForm {
      padding: 5px;
  }
}


